[submodule "repos/oh-my-zsh"]
	path = repos/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "repos/zsh"]
	path = repos/dracula-zsh
	url = https://github.com/dracula/zsh.git
[submodule "repos/gnome-terminal-colors-dracula"]
	path = repos/gnome-terminal-colors-dracula
	url = https://github.com/GalaticStryder/gnome-terminal-colors-dracula
