[user]
name = "Pablo Brasero"
email = "pablo@pablobm.com"

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

[aliases]
all = ["log", "-r", "all()"]
# tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
tug = ["util", "exec", "--", "sh", "-c", """
if [ "x$1" = "x" ]; then
  jj bookmark move --from "closest_bookmark(@)" --to "closest_pushable(@)"
else
  jj bookmark move --to "closest_pushable(@)" "$@"
fi
""", ""]

[ui]
diff-formatter = ["difft", "--color=always", "$left", "$right"]

[git]
fetch = ["upstream", "origin", "pablobm"]
