[user]
name = "Pablo Brasero"
email = "pablo@pablobm.com"

[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"

[aliases]
all = ["log", "-r", "all()"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[ui]
diff-formatter = ["difft", "--color=always", "$left", "$right"]
